[navibar]
app_nr=12

[navi-app0]
path=./
name=call
layer=
icon=appres/call.jpg

[navi-app1]
path=../camera/
name=vdec
layer=
icon=appres/camera.jpg

[navi-app2]
path=../entertainment/
name=smartmic
layer=
icon=appres/entertainment.jpg

[navi-app3]
path=../location/
name=picture
layer=
icon=appres/location.jpg

[navi-app4]
path=../message/
name=message
layer=
icon=appres/message.jpg

[navi-app5]
path=../mail/
name=mail
layer=
icon=appres/mail.jpg

[navi-app6]
path=../multimedia/
name=multimedia
layer=
icon=appres/multimedia.jpg

[navi-app7]
path=../film/
name=film
layer=
icon=appres/film.jpg

[navi-app8]
path=../message/
name=message
layer=
icon=appres/message.jpg

[navi-app9]
path=../setting/
name=setting
layer=
icon=appres/setting.jpg

[navi-app10]
path=../time/
name=test
layer=
icon=appres/time.jpg

[navi-app11]
path=../weather/
name=weather
layer=
icon=appres/weather.jpg
